.order-wrapper {
  position: relative;
  margin: 0.5em 0;
  padding: 1em;
  overflow: hidden;
  direction: rtl;
  border: 1px solid var(--light-color);
  border-radius: 10px;
}

.order-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 5em;
}

.order-container > * {
  flex: 1;
  padding:  0 4%;
  text-overflow: ellipsis;
}


.customer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.customer-container>h5 {
  margin-right: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}

.action-btn-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: auto;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(35px);
  transition: 0.2s ease-out;
}

.action-btn {
  height: 100%;
  font-size: 1.5em;
  display: block;
  color: var(--text-color);
  text-align: center;
  line-height: 1.2;
  transition: opacity 0.15s ease-in;
}

.green-bg {
  background-color: var(--success-color);
}

.red-bg {
  background-color: var(--error-color);
}

.action-btn:hover {
  opacity: 0.8;
  transition: opacity 0.15s ease-out;
}

.order-wrapper:hover .action-btn-container {
  transform: translateX(0);
  transition: 0.2s ease-in;
}

.order-checkbox {
  margin-right: 1em;
  font-size: 3em;
  width: 0.4em;
  height: 0.4em;
}

.status {
  font-weight: bold;
  text-align: center;
  padding:0;
}
.status.await-approve {
  background: #FAE7C3; 
  color:#DCC399
}
.status.completed {
  background: #C8E4CB; 
  color:#84B58A
}
.status.approved {
  background:#EBF3FF;
  color: #7EA4E5
}
.status.cancelled {
  background:#FFEDEB;
  color: #F7B0AE
}


/* EXPANDED ORDER */
.order-container.expanded {
  display: flex;
  justify-content: center;
  align-items: center;
}
.order-container.expanded > *:not(input) {
  display: flex;
  flex-direction: column;
  width: 10em;
  height: 100%;
  font-size: 1.2em;
  margin-right: 1em;
}

.action-btn-container.expanded>.action-btn {
  margin: 0 1em;
  padding: .2em 1em;
  height: 1.5em;
  line-height: 1;
}

.action-btn-container.expanded>.action-btn img {
  width: 26x;
}

.action-btn-container.expanded {
  display: none;
  /* transform: translateX(0);
  position: unset;
  height: 10%;
  width: 15%;
  justify-content: space-between;
  flex-direction: row; */
}

.order-container.expanded .order-checkbox-label {
  display: none;
}

