.order-list-container {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  box-sizing: border-box;
}

.order-list-container > * {
  flex-grow: 1;
  flex-shrink: 1;
}

.order-list {
  width: 100%;
  overflow-x: hidden;
  transition: all 0.3s ease-in;
}

/*  EXPANDED ORDER */
.expanded-order > * {
  height: 100%;
}
.aside:not(.expanded-order) {
  transition: 0.3s;
  flex-grow: 0.0001;
}

.aside.expanded-order {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 85%;
  background-color: white;
  z-index: 1;
  margin-right: 1em;
  transition: 0.3s ease-in-out;
}