.order-list-container {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  box-sizing: border-box;
}

.order-list-container > * {
  flex-grow: 1;
  flex-shrink: 1;
}

/* .order-list-container  > .order-container.expanded {
  background-color: aquamarine;
  flex: 0 0 15%;
  width: 15%;
  align-self: flex-end;
  justify-self: inherit;
  overflow: hidden;
}
.order-list-container  > .order-container.expanded ~ .order-container:not(.expanded) {
  align-self: flex-end;
  width: 15%;
  flex: 0 0 15%;
  overflow: hidden;
} */
/* .order-list {
  min-width: 20%;
  width: 100%;
  flex: 1 1 100%;
} */
.order-list {
  width: 100%;
  overflow-x: hidden;
  transition: all 0.3s ease-in;
}

.order-list-headers {
  display: flex;
  justify-content: space-between;
  direction: rtl;
  background-color: var(--lighter-color);
  color: var(--text-color);
  cursor:default;
}
.order-list-headers > p {
  flex: 1;
  text-align: right;
}
.order-list-headers > p:first-child, 
.order-list-headers > p:last-child {
  flex: unset;
  width: 12%;
  margin: auto 0;
}

.aside.expanded-order {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 85%;
  background-color: white;
  z-index: 1;
  margin-right: 1em;
  transition: 0.3s ease-in-out;
}
.expanded-order > * {
  height: 100%;
}
.aside:not(.expanded-order) {
  transition: 0.3s;
  flex-grow: 0.0001;
}