.form-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container > form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
}