.header-container {
  display: flex;
  width: 100%;
  height: 15vh;
  justify-content: space-between;
  align-items: center;
}

.add-btn {
  padding: 0.5em 0.8em;
  color: var(--lighter-color);
  font-size: 1em;
  border-radius: 5px;
  background-color: #4EAE5A;
  box-shadow: 1px 1px 1px var(--light-color);
  transition: all 0.2s;
}
.add-btn:hover {
  background-color: rgba(46, 139, 87, 0.8);
  transition: all 0.2s;
}
.inputs-wrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.inputs-container {
  display: flex;
}
.inputs-container > *, .input-container{
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--light-color);
  padding:  0 0.4em;
  font-size: 1em;
  border-radius: 5px;
  height: 40px;
}

.input-container input {
  border: none;
  outline: none;
}
.header-date-input::-webkit-calendar-picker-indicator {
  display: none;
  appearance: none ;
}



