.order-list-headers {
  display: flex;
  justify-content: space-between;
  direction: rtl;
  background-color: var(--lighter-color);
  color: var(--text-color);
  cursor: default;
}

.order-list-headers > p {
  flex: 1;
  text-align: right;
}

.order-list-headers>p:first-child,
.order-list-headers>p:last-child {
  flex: unset;
  width: 12%;
  margin: auto 0;
}

/* EXPANDED ORDER */
.order-list-headers.expanded {
  flex-direction: column;
  background-color: unset;
  font-weight: 700;
}
.order-list-headers.expanded > * {
  margin: 6.2%;
  font-size: 1.2em;
}