:root {
  --text-color: #232323;
  --text-color: #AAAAAA;
  --border-color: #232323;
  --box-shadow: 2px 2px 2px var(--border-color);
  --error-color: #d3212d;
  --success-color: #2e8b57;
  --light-color: #DCDCDC;
  --lighter-color: #F9F9F9;
}
html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.only-mobile { display: none; }

@media screen and (max-width: 800px) {
  .only-mobile { display: block; }
  .no-mobile { display: none;}

  .app-container {
    width: 100%;
    margin: 0;
  }
  .order-wrapper {
    margin: 0.3em;
    padding: 0;
    flex-wrap: wrap;
  }
  .order-container {
    height: 7em;
  }
  .order-container .order-checkbox {
    order: -1;
    font-size: 2em;
  }
  .order-container .order.status {
    order: 1;
  }
  .order-container .order.date {
    font-size: small;
    order: 2;
  }
  .order-container .order.content {
    order: 3;
  }
  .order-container .order.arrow {
    order: 5;
    margin: 10px;
    padding: 0;
    width: 20px;
    text-align: left;
  }
  .order-container .price {
    order: 2;
  }

  .aside.expanded-order {
    width: 100vw;
  }
  .aside.expanded-order .order-wrapper {
    margin: 0;
    width: 100vw;
  }

  .mobile-header-wrapper {
    display: flex;
    flex-direction: column;
  }
  .mobile-header-container {
    direction: rtl;
    display: flex;
    align-items: center;
  } 
  .mobile-tab {
    background-color: var(--lighter-color);
    border-radius: 10px;
    font-weight: 500;
    padding: 0.5em 1em;
    margin:  0.5em;
  }
  .mobile-tab.green {
    background-color: #DFEEE1;
    color: #AFD9B4;
    font-weight: 600;
    border: 2px solid #AFD9B4;
  }
}



