:root {
  --text-color: #232323;
  --text-color: #AAAAAA;
  --border-color: #232323;
  --box-shadow: 2px 2px 2px var(--border-color);
  --error-color: #d3212d;
  --success-color: #2e8b57;
  --light-color: #DCDCDC;
  --lighter-color: #F9F9F9;
}

html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.only-mobile {
  display: none;
}

.order-container .mobile-expanded-header.only-mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  .only-mobile {
    display: block;
  }

  .no-mobile {
    display: none;
  }

  .app-container {
    width: 100%;
    margin: 0;
  }

  .order-wrapper {
    margin: 0.3em;
    padding: 0;
    flex-wrap: wrap;
  }

  .order-container {
    position: relative;
    height: 6em;
    width: 100%;
  }

  .order-container > * {
    /* flex: 1; */
    flex-shrink: 0;
    /* flex-grow: 0; */
    /* width: 10vw; */
    padding: 0 4%;
  }

  .order-container .order-checkbox {
    position: absolute;
    right: 0.5em;
    font-size: 2em;
  }

  .order-container.expanded .order-checkbox {
    display: none;
  }

  .order-container .order.status {
    position: absolute;
    top: 0;
    right: 4em;
    padding: 0 0.5em;
  }

  .order-container .order.price {
    position: absolute;
    top: 0;
    left: 2em;
    color: #808080;
    font-size: small;
  }

  .order-container .order.content {
    position: absolute;
    right: 3.5em;
    font-weight: 700;
  }

  .order-container .order.id {
    position: absolute;
    bottom: 0;
    right: 3.5em;
  }

  .order-container .order.date {
    position: absolute;
    bottom: 0;
    left: 7em;
  }

  .order-container .order.arrow {
    margin: 10px;
    padding: 0;
    width: 20px;
    text-align: left;
  }


  .aside.expanded-order {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    background: #fff;
    z-index: 1;
  }

  .aside.expanded-order .order-wrapper {
    margin: 0;
    width: 100vw;
  }

  .mobile-header-wrapper {
    display: flex;
    flex-direction: column;
  }

  .mobile-header-container {
    direction: rtl;
    display: flex;
    align-items: center;
  }

  .mobile-tab {
    background-color: var(--lighter-color);
    border-radius: 10px;
    font-weight: 500;
    padding: 0.5em 1em;
    margin: 0.5em;
  }

  .mobile-tab.green {
    background-color: #DFEEE1;
    color: #AFD9B4;
    font-weight: 600;
    border: 2px solid #AFD9B4;
  }

  .order-container.expanded .order-checkbox-label {
    display: block;
    color: var(--light-color);
  }

  .order-container.expanded .mobile-expanded-header.only-mobile {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 10vh;
    width: 100vw;
    justify-content: space-between;
    margin: 0 20px;
    align-items: center;
    top: 5px;
  }

  .order-container.expanded .mobile-expanded-header.only-mobile>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
  }

  .order-container.expanded .mobile-expanded-header.only-mobile .mobile-expanded-item-list {
    justify-content: flex-start;
  }

  .order-container.expanded .mobile-expanded-header.only-mobile .mobile-expanded-item-list p {
    margin-left: 1.5em;
    padding: 0.3em;
    font-size: 0.8em;
    color: #808080;
  }

  .order-container.expanded .mobile-expanded-header.only-mobile>div .refresh-btn {
    border-radius: 50%;
    border: none;
    height: 30px;
    width: 30px;
    text-align: center;
  }

  .order-container.expanded>div:not(.mobile-expanded-header) {
    margin-top: 100%;
    margin-right: 1em;
  }

}